<html>
    <head>
        <title>
            CodeWorld-Blog
        </title>
    </head>
    <style>
        	.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  height:80px;
  width: 100%;
  line-height: 40px;
  vertical-align: middle;
  z-index: 1;
}
.navbar button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar a ,.navbar button {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover,
.navbar .active, .navbar button  {
  background: #ddd;
  color: black;

}
    </style>
    <body>
        <%- include('./includes/navigation.ejs') %>
        <br>  <br>  <br>  <br>
        <div style="text-align: center;">
        <h1 style="text-decoration: underline; font-size:90px"> <%=title %></h1>

        <% if(userid === currentUser) { %>
     <a href="/write-blog?edit=true&id=<%=blogId %>" ><button style="font-size:20px; cursor: pointer">EDIT</button></a>  
        <% } %>
     
     <h3>By: <a href="/profile/<%=userid%>"> <%= name %></a></h3>
        <h4> Posted on: <%= date %>  </h4>
        <div style="font-size:25px;white-space: pre-wrap; text-align: left;">
            <%= desc %>
        </div>
        <br><br><br><br><br><br><hr>
        <div>
            <form action="/full-blog/<%=blogId%>" method="POST">
                <label style="font-size:30px;" name="comment">COMMENTS: </label><br><br><br>
                <input style="width:1000px; height:50px; font-size:30px" type="text" name="comment" placeholder="Write your Comment" >
               <br><br> <button style="width:200px; height:45px">Submit</button> 
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <input type="hidden" name="userid" value="<%=userid %>">
            </form>
        </div>
        <br><br>
         <% if(comment.length>0) { %>
            <% for(let i = comment.length-1; i>=0; i--) { %>
            <div style="border: 2px solid; width:700px; margin:auto; text-align: center;">
                <p style="font-size: 30px;" ><%= comment[i].comments %></p>
                <p> - <a href="/profile/<%=comment[i].userid%>"><%= comment[i].username %></a> <br> Date: <%=comment[i].date %></p>
            </div>
            <br>
            <% } %>

            <% } else { %>
            <p>No Comments</p>
            <% } %>
            </div>
    </body>
</html>